springdoc:
  api-docs.enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: update
    show-sql: false

jwt:
  secret: ${JWT_SECRET}
  expirationMs: ${JWT_EXPIRATION_MS:3600000}
  refreshExpirationMs: ${JWT_REFRESH_EXPIRATION_MS:604800000}

google:
  client:
    id: ${GOOGLE_CLIENT_ID}
    secret: ${GOOGLE_CLIENT_SECRET}
  redirect.uri: ${GOOGLE_REDIRECT_URI:http://localhost:8080/auth/callback/google}

gemini:
  api:
    key: ${GEMINI_API_KEY}
    url: ${GEMINI_API_URL}
  model: ${GEMINI_MODEL:gemini-pro}

server:
  error:
    include-message: always
    include-stacktrace: never
    include-binding-errors: never

# Swagger Server URL
swagger:
  server:
    url: ${SWAGGER_SERVER_URL:http://localhost:8080}
